@model IEnumerable<projectA.Models.Usuario>


@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @Html.DisplayNameFor(model => model.Nome);
        </tr>

        <tr>
            @Html.DisplayNameFor(model => model.Login);
        </tr>

        <tr>
            @Html.DisplayNameFor(model => model.Password);
        </tr>
    </thead>
</table>
