@model IEnumerable<projectA.Models.Usuario>


@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a>Criar novo Usuário</a>
    <div class="user-content">
        <ul>

            <a class="nav-link text-dark" asp-area="" asp-controller="Alunos" asp-action="Index">Aluno</a>
        </ul>
        <ul>
            <a class="nav-link text-dark" asp-area="" asp-controller="Professores" asp-action="Index">Professor</a>

        </ul>

    </div>
</p>


