/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007BFF;
    text-align: center;
}

div {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

td {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botões de ação */
button.concluirBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

button.concluirBtn:hover {
    background-color: #218838;
}

button.excluirBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #FF4136;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.excluirBtn:hover {
    background-color: #E00000;
}

button.reabrirBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #FFC107;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

button.reabrirBtn:hover {
    background-color: #e0a800;
}

/* Estilos adicionais */
#descricaoTarefa {
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

tfoot {
    background-color: #f4f4f4;
}
